@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: white;
    text-align: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#scoreCard{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    padding: 26px;
    margin:17px;
    width: 100vh;
    height: 5vh;
    
}
#player1,#player2,#drawScore,.score-separator{
    display: flex;
    gap: 4px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#player1Input, #player2Input{
    height: 25px;
    width: 100px;
    border: 3px solid green;
    font-size: 12px;
}
#player1Initial,#player2Initial{
    height: 25px;
    width: 60px;
    border: 3px solid green;
    font-size: 12px;
}
#turn{
    
    font-size: 30px;
}

#board {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
    padding: 10px;
    margin: 10px;
    height:  60vmin;
    width: 60vmin;
}

.box {
    background-color: rgba(188, 188, 196, 0.484);
    height: 18vmin;
    width: 18vmin;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 50px;
    box-shadow: rgba(140, 131, 131, 0.25) 0px 14px 28px, rgba(140, 129, 129, 0.22) 0px 10px 10px;;
}
.box:hover{
    background-color:rgba(184, 184, 190, 0.796);
}
#gameContainer{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 12px;
    /* position: relative;
    display: inline-block; */
    /* height: 50px; */
}

#modeOptions,#restart,#resetScoreButton,#submitBtn,#playAgain{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #C62E65;
    border-radius: 10px;
    border: 1px solid white;
    height: 40px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
#restart:hover,
#modeOptions:hover,
#resetScoreButton:hover,
#newGame:hover,
#submitBtn:hover
{
    background-color: #DC6A94;
}

@keyframes winAnimate { 
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.winBox{
    animation: winAnimate 0.5s ease-in-out infinite;
    border: 2px solid green;
}

@keyframes drawAnimate {
    0%,
      100% {
        transform: translateX(0);
      }

      25%,
      75% {
        transform: translateX(-5px);
      }

      50% {
        transform: translateX(5px);
      }
}

.drawBox{
    animation: drawAnimate 0.5s ease-in-out;
    border: 2px solid red;
}


@media only screen and (max-width: 1000px){
    #scoreCard{
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 23px;
        padding: 26px;
        margin:17px;
        width: 80vh;
        height: 5vh;
        
    }
    #gameContainer{
        display: flex;
        justify-content: center;
        gap: 150px;
        margin: 12px;
        /* position: relative;
        display: inline-block; */
        /* height: 50px; */
    }
}

@media only screen and (max-width: 900px){
    #scoreCard{
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 23px;
        padding: 26px;
        margin:17px;
        width: 70vh;
        height: 5vh;
        
    }
    #gameContainer{
        display: flex;
        justify-content: center;
        gap: 120px;
        margin: 12px;
        /* position: relative;
        display: inline-block; */
        /* height: 50px; */
    }
}
@media only screen and (max-width: 820px){
    #scoreCard{
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
        padding: 26px;
        margin:17px;
        width: 60vh;
        height: 10vh;
        align-items: center;
        
        
    }
    #gameContainer{
        display: flex;
        justify-content: center;
        gap: 70px;
        margin: 12px;
        /* position: relative;
        display: inline-block; */
        /* height: 50px; */
    }
    #modeOptions,#restart,#resetScoreButton,#submitBtn,#playAgain{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: #C62E65;
        border-radius: 10px;
        border: 1px solid white;
        height: 40px;
        padding: 5px;
        margin: 10px;
        cursor: pointer;
        width: 75px
    }
    .box {
        background-color: rgba(188, 188, 196, 0.484);
        height: 15vmin;
        width: 15vmin;
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius: 10px;
        border: 2px solid white;
        cursor: pointer;
        font-size: 45px;
        box-shadow: rgba(140, 131, 131, 0.25) 0px 14px 28px, rgba(140, 129, 129, 0.22) 0px 10px 10px;;
    }
    #player1Input, #player2Input{
        height: 25px;
        width: 90px;
        border: 3px solid green;
        font-size: 11px;
    }
    #player1Initial,#player2Initial{
        height: 25px;
        width: 45px;
        border: 3px solid green;
        font-size: 11px;
    }
    #turn{
        
        font-size: 25px;
    }

}
@media only screen and (max-width: 700px){
    #scoreCard {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        width: 90vmin;
        justify-content: center;
        width: 100%;
        font-size: 20px;
    }
    
    .score-separator {
        flex: 0 0 auto;
    }
    #gameContainer{
        display: flex;
        justify-content: center;
        gap: 44px;
        margin: 12px;
        flex-wrap: wrap;
        /* position: relative;
        display: inline-block; */
        /* height: 50px; */
    }
    #modeOptions,#restart,#resetScoreButton,#playAgain{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background-color: #C62E65;
        border-radius: 10px;
        border: 1px solid white;
        height: 40px;
        padding: 5px;
        margin: 10px;
        cursor: pointer;
        width: 40px
    }
    .box {
        background-color: rgba(188, 188, 196, 0.484);
        height: 13vmin;
        width: 13vmin;
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius: 10px;
        border: 2px solid white;
        cursor: pointer;
        font-size: 38px;
        box-shadow: rgba(140, 131, 131, 0.25) 0px 14px 28px, rgba(140, 129, 129, 0.22) 0px 10px 10px;;
    }
    #player1Input, #player2Input{
        height: 20px;
        width: 60px;
        border: 3px solid green;
        font-size: 11px;
    }
    #player1Initial,#player2Initial{
        height: 20px;
        width: 30px;
        border: 3px solid green;
        font-size: 11px;
    }
    #turn{
        
        font-size: 20px;
    }
    #submitBtn{
        width: 50px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 260px){
    #scoreCard {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        width: 70vmin;
        justify-content: center;
        width: 100%;
        font-size: 18px;
    }
    
    .score-separator {
        flex: 0 0 auto;
    }
    #player1Input, #player2Input{
        height: 18px;
        width: 35px;
        border: 3px solid green;
        font-size: 8px;
    }
    #player1Initial,#player2Initial{
        height: 18px;
        width: 25px;
        border: 3px solid green;
        font-size: 8px;
    }
    #turn{
        
     font-size: 18px;
    }
}



